/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
.stats-container {
  .col {
    $num-cols: 8;
    $padding: .5%;

    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: (79.8% / $num-cols);  
    margin-bottom: 20px;
    margin-top: 1px;

    padding: 0 $padding;
    &:first-child{
        margin-left: 18%;
    }

    &:nth-of-type(#{$num-cols}n) {
      padding-left: 0;
      margin-left: 0;
    }

    &:nth-of-type(#{$num-cols}n+11) {
      padding-right: 0;
    }

    .stat {
      text-align: center;
        @include linear-gradient(top, #388ed6, #2075b1)
      cursor: pointer;
      border-radius: $main-border-radius;
      border: $thin-border-stroke $main-border-color;
      overflow: hidden;

      &:hover {
        border: $thin-border-stroke darken($main-border-color, 20%);
      }

      h1 {
        font-weight: 100;
        font-size: 30px;
        color: $body-background;
        @include linear-gradient(top, #388ed6, #2075b1)
        margin: 0 0 5px 0;
        padding: 2px 0;
        border-bottom: $thin-border-stroke darken($body-background, 8%);
      }

      span {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
        height:30px;
        color: $body-background;
      }
    }
  }
}
